@model List<Master>

<style>
	.card-text {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 200px;
	}
</style>

<div class="col-xl-12">
	<hr>
	<div class="card-columns">
		@foreach(var users in Model)
		{
			<div class="card">
				<img class="img-fluid card-img-top" src="@(!string.IsNullOrEmpty(users?.ImageUrl) ? users.ImageUrl : "/Images/adminphoto.jpg")" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Specialization : @users!.Specialization.Name</h5>
					<h5 class="card-title">Experience: @users!.WorkExperience</h5>
					<p class="card-text">@users!.About</p>
					<a class="btn btn-primary" href="/Messages/Messages">Contact</a>
					<button class="btn  btn-info">Info</button>
				</div>
			</div>
		}
	</div>
</div>

