<div class="modal fade" id="updateSpecializationModal" tabindex="-1" aria-labelledby="updateSpecializationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Здесь разместите содержимое вашего модального окна -->
        </div>
    </div>
</div>
