
@{
    Layout = null;
}
<html>
    <head>
        <link href="~/css/chose.css" rel="stylesheet"/>
    </head>
    <body>
    <div class="container">

        <form class="toggle">

            <input type="radio" id="choice1" name="choice" value="creative">
            <label for="choice1">User</label>

            <input type="radio" id="choice2" name="choice" value="productive">
            <label for="choice2" >Master</label>

        </form>

        <div class="progress-bar-container">
            <div class="progress-bar"></div>
        </div>
    </div>
</body>
</html>

<script>
    const radiobtns = document.getElementsByName("choice");
    const progressBar = document.querySelector(".progress-bar");

    radiobtns.forEach(function (radiobtn) {
        radiobtn.addEventListener("change", function () {
            if (radiobtn.checked) {
                progressBar.style.width = "0%"; // Сбросить прогрессбар при каждом изменении выбора
                growProgressBar();
                if (radiobtn.id === "choice1") {
                    window.location.href = "/Account/RegisterUser";
                } else if (radiobtn.id === "choice2") {
                    window.location.href = "/Account/RegisterMaster";
                }
            }
        });
    });

    function growProgressBar() {
        let width = 0;
        const interval = setInterval(function () {
            if (width >= 100) {
                clearInterval(interval);
            } else {
                width+=20;
                progressBar.style.width = width + "%";
            }
        }, 1); // Каждые 10 миллисекунд увеличиваем прогрессбар на 1%
    }

</script>