
@{
    Layout = null;
}
<html>
    <head>
        <link href="~/css/chose.css" rel="stylesheet"/>
    </head>
    <body>
    <div class="container">

        <form class="toggle">

            <input type="radio" id="choice1" name="choice" value="creative">
            <label for="choice1">User</label>

            <input type="radio" id="choice2" name="choice" value="productive">
            <label for="choice2" >Master</label>

        </form>
    </div>
</body>
</html>

<script>
    const radiobtns = document.getElementsByName("choice");

    radiobtns.forEach(function (radiobtn) {
        radiobtn.addEventListener("change", function () {
            if (radiobtn.checked) {
                growProgressBar();
                if (radiobtn.id === "choice1") {
                    window.location.href = "/Account/RegisterUser";
                } else if (radiobtn.id === "choice2") {
                    window.location.href = "/Account/RegisterMaster";
                }
            }
        });
    });
</script>