@model MasterRegisterVM;

@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="/css/mainwind.css">

</head>
<body>


<div class="auth-wrapper">
	<div class="auth-content text-center">
		<img src="~/Images/logo.png" alt="" class="img-fluid mb-4">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
						<form asp-controller="Account" asp-action="RegisterMaster" method="post" enctype="multipart/form-data">
						<div class="card-body">
							<h4 class="mb-3 f-w-400">SignUP</h4>
							<hr>
							<div class="form-group mb-3">
								<input asp-for="FullName" type="text" class="form-control" id="Email" placeholder="Full Name">
							</div>
							<div class="form-group mb-3">
									<input asp-for="UserName" type="text" class="form-control" id="Email" placeholder="UserName">
							</div>
							<div class="form-group mb-3">
								<input asp-for="Email" type="email" class="form-control" id="Email" placeholder="Email address">
							</div>
							<div class="form-group mb-3">
									<input asp-for="Age" min="18" type="number" class="form-control" id="Email" placeholder="Age">
							</div>
							<div class="form-group mb-3">
									<input asp-for="WorkExperience" min="0" type="number" class="form-control" id="Email" placeholder="Work Experience">
							</div>
							<div class="custom-file">
								<input type="file" asp-for="ImageUrl" class="custom-file-input" id="validatedCustomFile">
								<label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
							</div>
							<div class="form-group mb-3">
								<select asp-for="SpecializationId" asp-items="@ViewBag.Specials" id="inputState" class="form-control">
									<option selected>select</option>
								</select>
							</div>
							<div class="form-group">
								<textarea asp-for="About" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write About"></textarea>
							</div>
							<div class="form-group mb-3">
									<input asp-for="Password" type="password" class="form-control" id="Email" placeholder="Password">
							</div>
							<div class="form-group mb-4">
									<input asp-for="ConfirmPassword" type="password" class="form-control" id="Password" placeholder="ConfirmPassword">
							</div>
							<button class="btn btn-block btn-primary mb-4">Signin</button>
							<hr>
							<p class="mb-2 text-muted">Forgot password? <a href="auth-reset-password.html" class="f-w-400">Reset</a></p>
							<p class="mb-0 text-muted">Don’t have an account? <a href="auth-signup.html" class="f-w-400">Signup</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


	<script src="/js/vendor-all.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script src="/js/pcoded.min.js"></script>



</body>

</html>



