@model MasterRegisterVM;

@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="/css/mainwind.css">

</head>
<body>


<div class="auth-wrapper">
	<div class="auth-content text-center">
		<img src="~/Images/logo.png" alt="" class="img-fluid mb-4">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
						<form asp-controller="Account" asp-action="RegisterMaster" method="post" enctype="multipart/form-data">
						<div class="card-body">
							<h4 class="mb-3 f-w-400">SignUP</h4>
							<hr>
							<div class="form-group mb-3">
								<input asp-for="FullName" type="text" class="form-control" id="Email" placeholder="Full Name">
							</div>
							<span asp-validation-for="FullName" class="danger-text" style="color:red"></span>
							<div class="form-group mb-3">
									<input asp-for="UserName" type="text" class="form-control" id="Email" placeholder="UserName">
							</div>
							<span asp-validation-for="UserName" class="danger-text" style="color:red"></span>
							<div class="form-group mb-3">
								<input asp-for="Email" type="email" class="form-control" id="Email" placeholder="Email address">
							</div>
							<span asp-validation-for="Email" class="danger-text" style="color:red"></span>
							<div class="form-group mb-3">
								<input asp-for="Age" min="18" type="number" class="form-control" id="Email" placeholder="Age">
							</div>
							<span asp-validation-for="Age" class="danger-text" style="color:red"></span>
							<div class="form-group mb-3">
								<input asp-for="WorkExperience" min="0" type="number" class="form-control" id="Email" placeholder="Work Experience">
							</div>
							<span asp-validation-for="WorkExperience" class="danger-text" style="color:red"></span>
							<div class="custom-file">
								<input type="file" asp-for="ImageUrl" class="custom-file-input" id="validatedCustomFile">
								<label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
							</div>
							<span asp-validation-for="ImageUrl" class="danger-text" style="color:red"></span>
							<div class="form-group mb-3">
								<select asp-for="SpecializationId" asp-items="@ViewBag.Specials" id="inputState" class="form-control">
									<option selected>select</option>
								</select>
							</div>
							<span asp-validation-for="SpecializationId" class="danger-text" style="color:red"></span>
							<div class="form-group">
								<textarea asp-for="About" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write About"></textarea>
							</div>
							<span asp-validation-for="About" class="danger-text" style="color:red"></span>
							<div class="form-group mb-3">
									<input asp-for="Password" type="password" class="form-control" id="Email" placeholder="Password">
							</div>
							<span asp-validation-for="Password" class="danger-text" style="color:red"></span>
							<div class="form-group mb-4">
								<input asp-for="ConfirmPassword" type="password" class="form-control" id="Password" placeholder="ConfirmPassword">
							</div>
							<span asp-validation-for="ConfirmPassword" class="danger-text" style="color:red"></span>
							<button class="btn btn-block btn-primary mb-4">Submit</button>
							<hr>
							<p class="mb-0 text-muted">have an account? <a href="/Account/Login" class="f-w-400">Signup</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


	<script src="/js/vendor-all.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script src="/js/pcoded.min.js"></script>

	<script>
		document.querySelector('form').addEventListener('submit', function (event) {
			if (this.checkValidity()) {
				var newButton = document.createElement('button');
				newButton.classList.add('btn', 'btn-primary', 'm-2');
				newButton.type = 'button';
				newButton.disabled = true;
				var spinner = document.createElement('span');
				spinner.classList.add('spinner-border', 'spinner-border-sm');
				spinner.setAttribute('role', 'status');
				newButton.appendChild(spinner);
				newButton.appendChild(document.createTextNode('Loading...'));
				var parent = document.querySelector('.btn-primary').parentElement;
				parent.replaceChild(newButton, document.querySelector('.btn-primary'));
			} else {
				event.preventDefault();
			}
		});
		var inputElement = document.querySelector('input');
		var validationMessageElement = document.getElementById('validation-message');

		inputElement.addEventListener('input', function () {
			if (inputElement.checkValidity()) {
				validationMessageElement.textContent = '';
			} else {
				validationMessageElement.textContent = inputElement.validationMessage;
			}
		});
	</script>
</body>

</html>



