<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - IRepairman</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- prism css -->
    <link rel="stylesheet" href="/css/prism-coy.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/css/mainwind.css">\
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
   <!--<div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
     </div>-->
    <partial name="~/Views/Shared/Partials/NavMenu.cshtml" />
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">
        <partial name="~/Views/Shared/Partials/PartialHeader.cshtml" />
    </header>

    <div class="pcoded-main-container">
        <div class="pcoded-wrapper container">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <main role="main">
                                @RenderBody()
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/vendor-all.js" asp-append-version="true"></script>
    <script src="/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="/js/pcoded.min.js" asp-append-version="true"></script>
    <script src="/js/prism.js" asp-append-version="true"></script>
    <script src="/js/horizontal-menu.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
