@model Master

<div class="container-fluid">
	<div class="row">
		<div class="col-xl-12">
			<div class="card full-page-card">
			<div class="card">
				<img class="img-fluid card-img-top" src="@(!string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/Images/adminphoto.jpg")" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">@Model.FullName</h5>
					<p class="card-text">@Model.About</p>
					<a class="btn  btn-primary" href="/Messages/Messages">Messages</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>